.recipe-carousel {
    width: calc(100vw - 2.5rem);
    overflow: scroll;

    .overflow-wrapper {
        width: 10000%; //@todo: implement something more dynamic

        a {
            padding: 15px 15px 15px 0;
            float: left;
    
            img {
                width: 300px;
                height: 200px;
                object-fit: cover;
            }
        }
    }
}
