<!--The content below is only a placeholder and can be replaced.-->

<div class="main-content">
    <app-navigation></app-navigation>
    <div class="container">
        <h1>Hallo world</h1>
        <p>Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb</p>
        <p>Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb Lorum psum da asd kjadsgbb kajweba asmdb</p>
    </div>
</div>

<router-outlet></router-outlet>
