<div class="container">
  <h1>Sign In</h1>
  <input type="text" placeholder="username" [(ngModel)]="signInUserName"/><br>
  <input type="password" placeholder="password" [(ngModel)]="signInPassword"/><br>
  <button (click)="signIn($event)">Sign In</button>

  <h1>Sign Up</h1>
  <input type="text" placeholder="email" [(ngModel)]="signUpEmail"><br>
  <input type="text" placeholder="username" [(ngModel)]="signUpUserName"><br>
  <input type="password" placeholder="password" [(ngModel)]="signUpPassword"><br>
  <button (click)="signUp($event)">Sign Up</button>
</div>
