<div class="top-navigation">
  <a class="top-navigation-item" routerLink="/">Home</a>
  <a class="top-navigation.item" routerLink="/profile">Profile</a>
  <div class="top-navigation-search">
    <input type="search" placeholder="search" [(ngModel)]="searchInputValue" (ngModelChange)="searchInput($event)">
    <ul class="search-result-list" style="color: #fff;">
      <li *ngFor="let entry of searchResults" class="search-result-list-item">{{entry._source.title}}</li>
    </ul>
  </div>

  <a class="top-navigation-burger" (click)="toggleMenu()">=</a>

  <div class="side-navigation">
    <a class="top-navigation-item" routerLink="/">Home</a>
    <a class="top-navigation-item" routerLink="/profile">Profile</a>
  </div>
</div>

